<!DOCTYPE html>
<head th:replace="plantilla/template::head"></head>  

<link rel="stylesheet" href="css/historial.css">

<header th:replace="plantilla/template::header"></header>

<body>
    <div class ='content'>
        <center><h1 th:text="#{plantilla.historial}"></h1>  </center>
        <img src ="images/coldplay20.jpg" class="feature-img" alt="Coldplay"/>
        &nbsp;
        <h3 th:text="#{articulo.htext}"></h3>
        <br>
        <section>
            <br>
            <div class ='contenido'>
                <img src = "images/Costa-Rica-vs-Canada-en-vivo.jpg" class = "second-img" alt = "Costa Rica - Canada">
                &nbsp;
                <h4 th:text="#{articulo.htext1}"></h4>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </section>
        <br>
        </body>
        <br>
        <!-- footer=pie de pagina -->
        <br>
        <!-- footer=pie de pagina -->
        <footer th:replace="plantilla/template::footer"></footer>
    </html>
