<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="plantilla/template::head"></head>  
    <link rel="stylesheet" href="css/inicio.css">

    <body>

        <h1 th:text="#{plantilla.inicio}" style="font-size:90px;width: 100%; text-align: center"></h1>

        <header th:replace="plantilla/template::header"></header>

    </body>


    <div class="message">
 
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <div class="toast-body text-center">
                <h1 th:text="#{plantilla.itext}"></h1>
            </div>

            <!-- Position it: -->
            <!-- - `.toast-container` for spacing between toasts -->
            <!-- - `top-0` & `end-0` to position the toasts in the upper right corner -->
            <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
            <div class="toast-container top-0 end-0 p-3">


                <!-- Then put toasts within -->
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="..." class="rounded me-2" alt="...">
                        <strong class="me-auto">Smooth Ticket</strong>
                        <small class="text-muted">just now</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="images/Teatro_Nacional_CR.jpg" class="d-block w-100" alt="Teatro">
                    </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <!-- footer=piwe de pagina -->
    <footer th:replace="plantilla/template::footer"></footer>

</html> 

